body{
    margin: 0;
}

h1{
    margin-top: 0;

}
.ig{
    height: 59px;
}
.mg{
    background-color: #E4F9F5;

    height:400px;
}
.top-container{
    
    background-color: #E4F9F5;
    padding: 20px;

    
}